<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        img {
            width: 32em;
            height: 28em;
        }

        .height-2 {
            height: 2em;
        }

        .font-size-1 {
            font-size: 1em;
        }

        .font-weight-700 {
            font-weight: 700;
        }

        .common-button {
            height: 3em;
            margin: .5em 0 .5em 0;
        }

        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        div {
            display: : flex;
            align-items: center;
            padding: 1em;
            font-size: 1.2em;
        }

        div a {
            padding-left: 0.5em;
        }

        .edit {
            display: none;
        }
    </style>
</head>

<body>
    <div>
        <a href="/user-list">Back to User List</a>
    </div>
    <div>
        <img src="/profile-pics/{{user.first_name}}-{{user.last_name}}-md.jpg" alt="user-details-page" />
        <p>
            <button class="common-button font-weight-700" onclick="edit()">Edit</button>
            <button class="common-button font-weight-700" onclick="deleteUser()">Delete</button>
        </p>
    </div>

    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <dl>

        <dt>Street :
        </dt>
        <dd class="view font-weight-700">
            {{address.house}}
        </dd>
        <dd class="edit">
            <input class="font-size-1 height-2" id="street" type="text" value="{{address.house}}" />
        </dd>
        <br />
        <dt>City :
        </dt>
        <dd class="view font-weight-700">
            {{address.city}}
        </dd>
        <dd class="edit">
            <input class="font-size-1 height-2" id="city" type="text" value="{{address.city}}" />
        </dd>
        <br />
        <dt> State :
        </dt>
        <dd class="view font-weight-700">
            {{address.state}}
        </dd>
        <dd class="edit">
            <input class="font-size-1 height-2" id="state" type="text" value="{{address.state}}" />
        </dd>
        <br />
        <dt> Zip :
        </dt>
        <dd class="view font-weight-700">
            {{address.zip}}
        </dd>
        <dd class="edit">
            <input class="font-size-1 height-2" id="zip" type="text" value="{{address.zip}}" />
        </dd>
        <br />
        <dt></dt>
        <dd class="edit">
            <input class="common-button font-weight-700" type="submit" value="Save" onclick="save()" />
            <input class="common-button font-weight-700" type="submit" value="Cancel" onclick="cancel()" />
        </dd>
    </dl>
    <script>
        $(window).on("load", function () {
            $('.view').show();
            $('.edit').hide();

        });

        function edit() {
            $('.view').hide();
            $('.edit').show();
        };

        function cancel() {
            $('.view').show();
            $('.edit').hide();
        };

        function save() {
            $.ajax('/{{user.first_name}}-{{user.last_name}}', {
                method: "PUT",
                data: {
                    house: $('#street').val(),
                    city: $('#city').val(),
                    state: $('#state').val(),
                    zip: $('#zip').val(),
                },
                complete: function () {
                    cancel();
                    location.reload();
                }
            });
        };

        function deleteUser() {
            $.ajax('/{{user.first_name}}-{{user.last_name}}', {
                method: "DELETE",
                complete: function () {
                    location = "/user-list";
                }
            })
        };
    </script>
</body>

</html>